@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");

* {
  font-family: "Orbit", sans-serif;
  font-family: "Newsreader", "serif";
}

html {
  scroll-behavior: smooth;
}
.navbar-container {
 
  width: 100%;
  z-index: 1000;
  height: 100px;
  font-family: "Orbit";
}


.header{
  font-family: "Orbit";
}


.everything {
  background: linear-gradient(to bottom, #292994, #18181B);
  background-size: cover; /* Set the background size to cover the entire viewport */
  background-attachment: fixed; /* Prevent the background from scrolling with the content */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  color: white;
  font-family: "Orbit", sans-serif; /* Multiple font families separated by commas */
  height: 100%;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.main-container {
  color: #f0f0f0;
  max-width: 600px;
  margin: 0 auto;
}



.name-heading {
  font-family: "Newsreader";
  font-style: normal;
  letter-spacing: 0.1rem;
  margin-top: 20%;
  margin-bottom: 8%;
  font-size: 75px;
  color: #f0f0f0;
  font-weight: 700;

}
@media (max-width: 900px) {
  .name-heading{
    font-size: 35px; /* Adjust the font size for smaller screens */
    margin-bottom: 0%;
    margin-top: 40px;
  }

}

.spline-container {
  flex: 1;
  display: flex;
}


.music{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Orbit";
  margin-bottom: 30%;
  font-size: 20px;

}
@media (max-width: 900px) {
  .music{
    font-size: 20px; /* Adjust the font size for smaller screens */
    margin-bottom: 2%;
  }

}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 8%;
  }

.intro {
  font-family: "Orbit";
  font-weight: 500;
  font-size: 15px;
  margin-top: 15px;
  line-height: 1.5rem;
  letter-spacing: 1px;
  max-width: 600px;
  opacity: 85%;
}


.about{
  font-family: "Orbit";
  font-size: 45px;
}
@media (max-width: 900px) {
  .about{
    margin-top: 10%;
    font-size: 25px; /* Adjust the font size for smaller screens */
    margin-bottom: 2%;
  }

}

.intro-location-container {
  font-family: "Orbit";
  display: flex;
  display: start;
    justify-content: center;
   
    
    font-size: 20px;
}

.subheading {
  font-family: "Orbit";
  font-size: 45px;
  color: #f0f0f0;
  margin-top: 15%;
  line-height: 1.5rem;
  font-weight: 400;
  
  letter-spacing: 0.05rem;
}
@media (max-width: 900px) {
  .subheading{
    margin-top: 10%;
    font-size: 20px; /* Adjust the font size for smaller screens */
    margin-bottom: 2%;
  }

}


.job-container {
  
  display: flex;
  justify-content: space-between; /* Distribute child elements with maximum space in-between */
  align-items: center; /* Vertically align the child elements in the center */
  padding: 10px; /* Just for a little spacing, optional */
  margin-top: 10px;
  font-size: 20px;
  
}
.last-div{
  margin-bottom: 10%;
}
.card {
  font-family: "Orbit";
  font-size: 33px;
  @apply relative text-white bg-[#1A508B] opacity-60 p-3 rounded-md;
  transition: opacity 0.6s, box-shadow 0.6s; 
  height: 200px;
  width: 300px;/* Transition for the glow effect and shadow */
}

.font-text{
  font-family: "Orbit";
}
.card-text{
  font-size: 15px;
  font-family: "Orbit";
}
.card-title{
  font-size: 17px;
  font-family: "Orbit";
}
@media (max-width: 900px) {
  .card{
    font-family: "Orbit";

    font-size: 33px; /* Adjust the font size for smaller screens */
    height: 200px;
  }
  
}
@media (max-width: 2000px){
.card {
  font-family: "Orbit";

  height: 230px;
  width: 600px;
  font-size: 33px;
}
}


@layer components {
/* Glow effect on hover */
.card:hover::before {
  font-family: "Orbit";

  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 80%);
  opacity: 0;
  transition: opacity 0.3s;
}

/* Shadow on hover */
.card:hover {
  font-family: "Orbit";

  opacity: 1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

  }
.job-position {
  font-family: "Orbit";
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  align-items: flex-start; /* Align child elements to the left */
}

.job-position span {
  font-size: 15px;
  color: #969696;
  font-family: "Orbit";
}

.job-date {
  font-family: "Orbit";
  font-size: 15px;
  color: #969696;
  font-weight: 600;
  align-items: center;
}

.skills-container {
  font-family: "Orbit";
  display: flex;
  justify-content: space-between;
  width: 115%;
  
  margin-bottom: 10%;
  /* padding: 10px; */
}

.skill-column {
  flex: 1; /* Each column takes up an equal amount of space */
  padding: 0 0px; /* Some padding on left and right for breathing space */
  font-family: "Orbit";
}

.skill-heading {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 10px;
  font-family: "Orbit";
}

.skill-item {
  margin: 0 0 7.5px;
  line-height: 1.5rem;
  font-size: 17px;
  color: #969696;
  font-family: "Orbit";
}



.project-container {
  margin-top: 40px;
  font-family: "Orbit";
}

/* project start */
.project-header {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
}

.right-arrow {
  margin-left: 15px;
}

.project-desc {
  font-size: 16px;
  color: #969696;
  margin-top: 10px;
}

.tech-stack {
  padding: 6px;
  border: 1px solid #969696;
  border-radius: 6px;
  margin-right: 10px;
  font-size: 14px;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates two columns of equal width */
  gap: 25px; /* Adjust this value if you want more or less space between items */
  width: 100%;
  margin-top: 50px;
  font-family: "Orbit";
}

.contact-item {
  border: 1px solid #969696;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: box-shadow 0.4s ease-in-out;
  cursor: pointer;
  font-family: "Orbit";
}

.contact-item:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.25); /* Increased glow on hover */
}

.contact-heading {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}

.contact-text {
  font-weight: bold;
  font-family: "Orbit";
  font-size: 15px;
  margin: 0;
  
}

.footer {
  position: relative;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  letter-spacing: 0.05rem;
}

.footer-text-left,
.footer-text-right {
  position: absolute;
}

.footer-text-left {
  left: 3px;
  bottom: 34%;
  color: rgba(255, 255, 255, 0.95);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
}

.footer-text-right {
  right: 3px;
  bottom: 36%;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-size: 10px;
}

.footer-line {
  margin-top: 200px;
  margin-bottom: 100px;
  border-top: 3px solid rgba(251, 251, 251, 0.51);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 24px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

@media (max-width: 768px) {
  .everything {
 
    height: 100%;
    width: 200%;
  }
  .footer {
    font-family: "Orbit";
    position: relative;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    color: rgb(255, 160, 72);
  }

  .footer-text-left,
  .footer-text-right {
    font-family: "Orbit";
    position: absolute;
    color: rgb(255, 160, 72);
  }

  .footer-text-left {
    font-family: "Orbit";
    left: 3px;
    bottom: 29%;
    
   
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
  }

  .footer-text-right {
    right: 3px;
    bottom: 29%;
    color: white;
    font-family: "Orbit";
    font-style: normal;
    font-size: 10px;
  }

  .footer-line {
    margin-top: 300px;
    margin-bottom: 100px;
    border-top: 3px solid rgba(251, 251, 251, 0.51);
    border-radius: 24px;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
}