@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Orbit&display=swap");
  body {
    max-width: 100vw;
    max-height: 100vh;
    background: linear-gradient(to bottom, #292994, #18181B);
    background-size: cover; /* Set the background size to cover the entire viewport */
    background-attachment: fixed; /* Prevent the background from scrolling with the content */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    color: white;
    font-family: "Newsreader", serif, "Orbit", sans-serif; /* Multiple font families separated by commas */
    overflow-y: auto;
    display: flex;
    
}


  html, body {
    margin: 0;
    padding: 0;  
    scroll-behavior: smooth;

  }
  
  /* Hide scrollbar on WebKit-based browsers */
  body::-webkit-scrollbar {
    width: 0; /* Adjust the width of the scrollbar if needed */
  }

  body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
 
 
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    justify-content: space-between;
    font-family: "Orbit";

  }
.music{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Orbit";
  margin-bottom: 20%;
  font-size: 33px;

}
@media (max-width: 768px) {
  .music{
    font-size: 15px; /* Adjust the font size for smaller screens */
    margin-bottom: 2%;
  }

}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 20px;
  }
  .intro-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Newsreader";
    letter-spacing: 1px;
    font-size: 100px;
    margin-top:10%

  }
  @media (max-width: 768px) {
    .intro-title{
      font-size: 60px; /* Adjust the font size for smaller screens */
    }
  
  }
 

  .spline-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
  }
  .about-container {
    display: start;
    justify-content: center;
    margin-left:10%;
    font-family: "Orbit";
    font-size: 45px;
    margin-right:10%;
  }
  .about-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 10%;
    
  }
  @media (max-width: 768px) {
    .about-container{
      font-size: 33px;
    }
    .about-text{
      font-size: 10px; /* Adjust the font size for smaller screens */
    }
  
  }
  .skills {
    display: start;
    justify-content: center;
    margin-left:10%;
    font-family: "Orbit";
    font-size: 45px;
    margin-right:10%;
  }

  @media (max-width: 768px) {
    .skills{
      font-size: 33px; /* Adjust the font size for smaller screens */
    }
  
  }
 
  @media (max-width: 768px) {
    .skill-column{
      font-size: 10px; /* Adjust the font size for smaller screens */
    }
  
  }
  .skills-container{
    display: flex;
    justify-content: space-between;
    width: 115%;
    margin-left: 3px;
    font-size:25px;
    margin-bottom: 10%;
  }
 
  .works-container {
    display: start;
    justify-content: center;
    margin-left:10%;
    font-family: "Orbit";
    font-size: 45px;
    margin-right:10%;
    margin-bottom:10%;
  }

  .works-card {
    display: start;
    justify-content: center;
    margin-top: 8px;
    font-family: "Orbit";
    font-size: 33px;
    
    margin-bottom:10px;
    
  }
  @media (max-width: 768px) {
    .works-card{
      font-size: 10px; /* Adjust the font size for smaller screens */
      
    }
  
  }

  .projects {
    display: start;
    justify-content: center;
    margin-left:10%;
    font-family: "Orbit";
    font-size: 45px;
    margin-right:10%;
    margin-bottom: 10%;
  }
  
    /* Base styles for the card */
/* Base styles for the card */
.card {
  font-size: 33px;
  @apply relative text-white bg-[#1A508B] opacity-60 p-3 rounded-md;
  transition: opacity 0.6s, box-shadow 0.6s; 
  height: 490px;
  width: 500px;/* Transition for the glow effect and shadow */
}

@media (max-width: 768px) {
  .card{
    font-size: 10px; /* Adjust the font size for smaller screens */
    height: 250px;
  }

}
@media (max-width: 2000px){}
.card {

  height: 400px;
  font-size: 25px;
}

}
@layer components {
/* Glow effect on hover */
.card:hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 80%);
  opacity: 0;
  transition: opacity 0.3s;
}

/* Shadow on hover */
.card:hover {
  opacity: 1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

  }

  .contact {
    display: start;
    justify-content: center;
    margin-left:10%;
    font-family: "Orbit";
    font-size: 45px;
    margin-right:10%;
    margin-bottom: 10%;
  }

  @media (max-width: 768px) {
    .contact{
      font-size: 45px; /* Adjust the font size for smaller screens */
     
    }
    
  }

    .contact-text{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10%;
      font-family: "Orbit";
      margin-right: 10%;
      font-size: 33px;
      margin-bottom: 2%;
    }

    @media (max-width: 768px) {
      .contact-text{
        font-size: 25px;
      }
    
    
    }
  
