.navbar-container {
    background-color: rgb(39, 40, 41);
    width: 100%;
    z-index: 1000;
    height: 100px;
  }

  .font-Orbit {
    font-family: "Orbit", sans-serif;
  }
  

  .header{
    font-family: "Orbit"; 
  }
  .navbar-items {
    font-family: "Orbit"; 
    font-style: normal;
    color: rgb(39, 40, 41);
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
  }
  
